.register__form {
  background-color: $slightly__white;
  height: 100vh;
  display: grid;
  place-items: center;

  &__innerBox {
    background-color: $white;
    padding: 50px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
  }
}
