* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

input,
textarea,
select {
  outline: none;
  border: 1px solid #e7e7e7;
  padding: 15px 20px;
  border-radius: 5px;
  width: 100%;
  display: block;
  margin-bottom: 8px;
}

label {
  display: block;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:visited {
    color: initial;
  }
}
